
// Tailwind
@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'nprogress';

@import "node_modules/react-sortable-tree/style";

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.bar-wrapper {
  margin-top: 5px;
  margin-left: 5px;
}

.tree-wrapper {
  height: calc(100% - 25px);
}

.previous {
  margin-left: 10px;
}

.next,
.collapse {
  margin-right: 10px;
  margin-left: 5px;
}

